<div id="<%= dom_id order %>" class="container">
  <table class="table">
        <tr>
          <th>Item</th>
          <th>Total Price</th>
        </tr>
      <% @order.products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_url(product.id) %></td>
          <td>$<%= product.price / 100.0 %></td>
        </tr>
      <% end %>
      <tr>
        <th>Subtotal</th>
        <td>$<%= @order.total_cost / 100.0 %></td>
      </tr>
      <tr>
        <th>Tax</th>
        <td>$<%= @order.total_cost * @order.tax_rate / 100.0 %></td>
      </tr>
      <tr>
        <th>Total</th>
        <td>$<%= @order.total_cost + (@order.total_cost * @order.tax_rate / 100.0) %></td>
      </tr>
    </table>
</div>
