<div class="card" style="max-width: 800px;">
  <div class="row g-0">
    <% if @product.image.present? %>
      <div class="col">
        <%= image_tag @product.image, class:"img-fluid rounded-start" %>
      </div>
    <% end %>

    <div class="col">
      <div class="card-body">
        <h5 class="card-title"><%= @product.name %></h5>
        <p><%= @product.category.name %></p>
        <p class="card-text">
          <%= @product.description %>
        </p>
        <p>
          <b>$<%= @product.price/100.0 %></b>
        </p>
      </div>
    </div>
  </div>
</div>