<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Up Cycle!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=<%= products_path %> id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bikes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "All", products_path, class: "dropdown-item"%></li>
            <% Category.order(:name).each do |category| %>
              <li><%= link_to category.name, "/categories/#{category.id}", class: "dropdown-item"%></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "About", "/about", class:"nav-link" %>
        </li>
      </ul>

      <%= form_tag({controller: "products", action: "search"}, method: "get", class: "d-flex me-2") do %>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">

        <div class="input-group me-2">
          <span class="input-group-text" id="category-label">Category:</span>
          <select id="category" name="category" class="form-select">
            <option value="*">
              All
            </option>
            <% Category.order(:name).each do |category| %>
              <option value=<%= category.id %>>
                <%= category.name %>
              </option>
            <% end %>
          </select>
        </div>

        <%= submit_tag "Search", class: "btn btn-outline-success" %>
      <% end %>

      <% if !user_signed_in? %>
        <li>
          <%= link_to "Sign In", user_session_path, class: "nav-link" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
        </li>
      <% end %>
      <li>
        <%= link_to "/cart", class: "btn btn-primary" do %>
          <i class="bi bi-cart4"></i>
        <% end %>
      </li>
    </div>
  </div>
</nav>